.topnav {
    font-family: 'Megrim', cursive;
    float:right;
}
.nav-item {
    list-style-type: none;
  }
  .alpha { color: $purple; }
.beta {
  color: $yellow-300;
  background-color: $indigo-900;
}
