.topnav {
    font-family: 'Megrim', cursive;
    float:right;
}
.nav-item {
    list-style-type: none;
  }
  $theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);
